<div class="row">
  <div class="span12 text-center">
    <% if user_signed_in? %>
      <h1>Exercise Breakdown</h1>
      <% hello = Exercise.exercise_set_count(current_user) %>

      <%= pie_chart hello.group('name').count %>

    <% else %>
      <h1 class='brand'>PLATFORMR</h1>
      <p>The world's #1 app for tracking your progs.</p>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-info' %>
      or
      <%= link_to "Sign in", new_user_session_path, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
