html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  padding-top: 70px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 30px;
  /* Negative indent footer by it's height */
  margin: 0 auto -67px;
}

/* Set the fixed height of the footer here */
#push, #footer {
  height: 33px;
}

#footer {
  background-color: #eee;
  text-align: center;
}

#lifting-icon {
  text-align: right;
}

#dropdown-login {
  padding: 10px;
}

.navbar-brand, .brand {
  font-family: 'Wallpoet', cursive;
}

.alert {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-radius: 0px;
}

#combination-header {
  font-size: 1.5em;
}
