// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
  padding-top: 70px;
}

.navbar-brand {
  font-family: 'Wallpoet', cursive;
}

// * {
//   font-family: 'Open Sans', sans-serif;
// }

// .btn {
//   border-radius: 80px;
// }

.form-horizontal .form-group {
  margin-left: 0px;
}

.navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

