html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  padding-top: 70px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 30px;
  /* Negative indent footer by it's height */
  margin: 0 auto -67px;
}

/* Set the fixed height of the footer here */
#push, #footer {
  height: 33px;
}

#footer {
  background-color: #eee;
  text-align: center;
}

#footer-text {
  margin-top: 5px;
}

#lifting-icon {
  text-align: right;
}

#dropdown-login {
  padding: 10px;
}

.navbar-brand, .brand {
  font-family: 'Wallpoet', cursive;
}

.alert {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-radius: 0px;
}

.block-labels {
  display: block;
}

.combination {
  background-color: #F0F8FF;
}

.bottom-border {
  border-bottom: 1px dashed #D7EBFF;
}

.combination-splitter {
  margin: 0;
}

#add-combination {
  margin-top: 21px;
}

.form-row-margin {
  margin-bottom: 15px;
}

.form-label-margin {
  margin-right: 5px;
}

@media (max-width: 770px) {
  .navbar-text {
    float: none;
    padding: 10px 15px;
    margin: 0;
  }
}
